 body {
      margin: 0;
      padding: 0;
      background-image: url("../images/backgroundani.gif");
      background-size: cover;
      font-family: 'Poppins', sans-serif;
      color: white;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  #adminContent {
      background: rgba(0, 0, 0, 0.75);
      padding: 20px;
      border-radius: 16px;
      width: 80%;
      box-shadow: 0px 0px 10px 3px #000;
  }

  table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
  }

  th, td {
      border: 1px solid #4C79B0;
      padding: 10px;
      text-align: left;
  }

  th {
      background-color: #4C79B0;
  }

  tr:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.2);
  }

  tr:hover {
      background-color: rgba(255, 255, 255, 0.3);
  }

  .medal {
      font-size: 1.5em;
  }

  .first-place {
      color: gold;
  }

  .second-place {
      color: silver;
  }

  .third-place {
      color: #cd7f32;
  }


  #buttonContainer {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-bottom: 10px;
}

.button {
    padding: 15px 30px;
    margin-left: 10px;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#deleteButton {
    background-color: #ff6b6b; 
}

#logoutButton {
    background-color: rgb(94, 92, 92);
}

.button:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.button:active {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
