body {
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;     
    font-family: 'Poppins';
    font-weight: 900;
}

.inputfield{
    width: 733px;
    height: 60px;
    border-radius: 16px;
    font-weight: 400;
    font-family: "Poppins";
}

#lightningBackground{
    background-image: url("../images/LightningEpic.jpg");
    background-size: cover;
}

#experisBackground{
    background-image: url("../images/GameBackground.png");
    background-size: cover;
}


#gameContainer {
    width: 75vw;
    height: 75vh;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

#score {
    color: white;
    font-size: 24px;
}

#startButton {
    font-size: 25px;
    font-family: "Poppins";
    font-weight: 800;
    cursor: pointer;
    text-align: center;
    color: white;
    width: 753px;
    height: 70px;
    border-radius: 24px;
    border: 6px solid #4C79B0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.00) 100%), #4C79B0;
    background-blend-mode: soft-light, normal;
    text-shadow: 0px 1px 5px rgba(136, 13, 13, 0.20), 0px 3px 4px rgba(123, 12, 12, 0.12), 0px 2px 4px rgba(91, 26, 26, 0.14);
    margin-bottom: 24px;
    box-shadow: 2px 2px 2px 2px#0A0A0A;

}

.ball {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    clip-path: circle(30% at 50% 50%);
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}


#loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#username {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

#title{
    color: white;
    font-size: 90px;
    font-family: 'Faster One';
    font-weight: 400;
    letter-spacing: 10px;

}

#loginButton {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
}

#scoreboardHeadline {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: white;
}

#scoreboardButton{
    font-size: 25px;
    font-family: "Poppins";
    font-weight: 800;
    cursor: pointer;
    text-align: center;
    color: white;
    width: 280px;
    height: 48px;
    border-radius: 24px;
    border: 6px solid #4C79B0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.00) 100%), #4C79B0;
    background-blend-mode: soft-light, normal;
    text-shadow: 0px 1px 5px rgba(136, 13, 13, 0.20), 0px 3px 4px rgba(123, 12, 12, 0.12), 0px 2px 4px rgba(91, 26, 26, 0.14);
}   

#scoreBoardContainer {
    width: 988px;
    height: 900px;
    border-radius: 16px;
    border: 5px solid #4C79B0;
    background: linear-gradient(0deg, #4C79B0 0%, #144076 100%);
    font-family: "Poppins";
    margin: 20px auto; 
    padding: 20px; 
    overflow: hidden;
}

.playerContainer {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px; 
    border-radius: 8px;
    border: 5px solid #FFF;
    background: linear-gradient(90deg, #BEBEBE 0%, #FFF 100%);
}

.playerContainer:first-child {
    width: 30%;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px; 
    border-radius: 8px;
    border: 5px solid #FFD749;
    background: linear-gradient(90deg, #FFD749 0%, #FFB800 68.23%);
}

.playerContainer p {
    margin: 0; 
    color: #333;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.36px;
}

#scoreboardHeadline {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: white;
}

#playAgainButton {
    font-size: 25px;
    font-family: "Poppins";
    font-weight: 800;
    cursor: pointer;
    text-align: center;
    color: white;
    width: 280px;
    height: 48px;
    border-radius: 24px;
    border: 6px solid #4C79B0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.00) 100%), #4C79B0;
    background-blend-mode: soft-light, normal;
    text-shadow: 0px 1px 5px rgba(136, 13, 13, 0.20), 0px 3px 4px rgba(123, 12, 12, 0.12), 0px 2px 4px rgba(91, 26, 26, 0.14);
}

.titleContainer {
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.titleimgContainer {
    margin-right: 30px; 
}

.homeScoreBoard{
    width: 449px;
    height: 237px;
    background: linear-gradient(0deg, #4C79B0 0%, #144076 100%);    
    border-radius: 16px;
    font-family: "Poppins";
}

#homepagetext{
    color: white;
    font-size: 25px;
    text-shadow: 10px 10px 8px#211476;
    color: white;
}

/*#scoreContainer{
    border-radius: 16px;
    border: 5px solid #C35700;
    background: linear-gradient(180deg, #FF7200 0%, #C35700 100%);
    display: flex;
    width: 219px;
    padding: 0px 32px;
    gap: 8px; 
}
